/* Set styles for the table */
#my-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  /* Set styles for the table header */
  #my-table th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Set styles for the table cells */
  #my-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  /* Set alternate background colors for the table rows */
  #my-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;

    height: max-content;

    -webkit-perspective: 150rem;
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    margin:0 auto;
}

.button{
  flex-direction: column;
  margin: 1rem;
  display: flex;
  align-items: center;
}