@font-face {
    font-family: 'DS-Digital';
    src: url('../fonts/DS-DIGIB.ttf') format('truetype');
  }

  #timer {
    font-size: 48px;
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: 'DS-Digital';
  }
