<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <meta charset="ISO-8859-1">
<head>
    <link rel="stylesheet" href="../css/game.css" th:href="@{/css/game.css}" type="text/css" />
</head>
<body>
    <table>
        <thead>
          <tr>
            <th>Label</th>
            <th>Input</th>
          </tr>
        </thead>
        <tbody id="table-body">
          <tr>
            <td><label for="input-1">Input 1</label></td>
            <td><input type="text" id="input-1"></td>
          </tr>
          <tr>
            <td><label for="input-2">Input 2</label></td>
            <td><input type="text" id="input-2"></td>
          </tr>

        </tbody>
      </table>
</body>
</html>