<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Game List</title>
    <link rel="stylesheet" href="../css/home.css" th:href="@{/css/home.css}" type="text/css" />
  </head>
  <body>
    <table id="game-list">
      <tr>
        <th>ID</th>
        <th>Host</th>
        <th>Users</th>
      </tr>
      <tr th:each="game : ${games}" th:attr="data-id=${game.id}">
        <td th:text="${game.id}"></td>
        <td th:text="${game.host}"></td>
        <td th:text="${game.users}"></td>
      </tr>
    </table>
    <button id="refresh">Refresh</button>
    <button id="host">Host</button>
    <script type="module" src="../js/home.js"></script>
  </body>
</html>