<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Game Scores</title>
  <link rel="stylesheet" href="../css/lobby.css" th:href="@{/css/lobby.css}" type="text/css" />
</head>
<body>
  <h1 id="gameId" th:text="${gameId}">Game ID: 123456</h1>
  <h2 id="rounds" th:text="${numberOfRounds}">Number of Rounds: 10</h2>
  <div class="container">
    <table id="playersTable" class="table">
      <thead>
        <tr>
          <th>Player</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="player : ${players}">
          <td th:text="${player.name}">Player 1</td>
        </tr>
      </tbody>
    </table>
    <table id="categoriesTable" class="table">
      <thead>
        <tr>
          <th>Category</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Categories will be dynamically added here using JavaScript -->
      </tbody>
    </table>
  </div>
  <button id="disconnect">Disconnect</button>
  <button id="startGame">Start Game</button>
  <script type="module" src="../js/lobby.js"></script>
</body>
</html>