<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <meta charset="ISO-8859-1">
<head>
    <link rel="stylesheet" href="../css/lobby.css" th:href="@{/css/lobby.css}" type="text/css" />
</head>
<body>
    <table id="my-table">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody id="table-body">
          <!-- Data will be inserted here -->
        </tbody>
      </table>
    <script type="module" src="../js/lobby.js"></script>
</body>
</html>